[submodule "themes/hugo-bootstrap-shortcodes"]
	path = themes/hugo-bootstrap-shortcodes
	url = https://github.com/MaFeLP/hugo-bootstrap-shortcodes
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
